body {
    background-color: #ffbaa1;
}

h1 {
    font-size: 150px;
    text-align: center;
    color: brown;
    border:double 20px antiquewhite;
    letter-spacing: 5px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    padding: 100px;
    color: #5e1818;
    background-color: antiquewhite;
}

p:hover {
    background-color: #5e1818;
    color: antiquewhite;
}



div {
    border: dotted 30px brown;
    padding: 20px;
}

a{
    text-decoration: none;
}
