* {
  box-sizing: border-box;
}

img {
  max-width:100%;
}

body {
    margin:0;
    background-color: #dddddd;
}

.container {
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
    position:relative;
}

.circle {
    background-color:#b3b3b3;
    width: 950px;
    height: 850px;
    border-radius: 475px / 425px;
    
    position:relative;
}

.circle2 {
    background-color:#8c8c8c;
    width: 850px;
    height: 750px;
    border-radius: 425px / 375px;
    
    position:absolute;
    top:50px;
    
}

.circle3 {
    background-color:#616161;
    width: 750px;
    height: 650px;
    border-radius: 375px / 325px;
    
    position:absolute;
    top:50px;
}

.circle4 {
    background-color:#353535;
    width: 650px;
    height: 550px;
    border-radius: 325px / 275px;
    
    position:absolute;
    top:50px;
}

.circle5 {
    background-color:#181818;
    width: 550px;
    height: 450px;
    border-radius: 275px / 225px;
    
    position:absolute;
    top:50px;
}

.circle6 {
    background-color: #0c0c0c;
    width: 450px;
    height: 350px;
    border-radius: 225px / 175px;
    
    position:absolute;
    top:50px;
}

.circle7 {
    background-color: #9a0a0a;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    position:absolute;
    top:125px;
    right:200px;
}

/*
.border {
    max-width: 100%;  
    max-height: 100%; 
    box-sizing: border-box;
    position:absolute;
    z-index:99;
    
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    border:solid black 5px;
}
*/

