* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color:#d19fff;
    margin:0;
}

img {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.container {
    /*background-color: blanchedalmond;*/
    height:100vh;
}

.wrapper {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

a {
    font-size: 15px;
    font-family:serif;
}

.flavors {
    position:absolute;
    font-family: "Bagel Fat One";
    font-size:30px;
    color:#380f5e;
}